<div class="disclosure">
    <strong>Trasparenza:</strong> Se acquisti un corso tramite i nostri link, potremmo ricevere una commissione senza costi aggiuntivi per te.
</div>

<div class="header-ad-banner" style="text-align: center; background-color: var(--bg-white); padding: 10px 0; border-bottom: 1px solid var(--border-color);">
    <a rel="sponsored" href="https://www.awin1.com/cread.php?s=2622033&v=9659&q=387499&r=2764918">
        <img src="https://www.awin1.com/cshow.php?s=2622033&v=9659&q=387499&r=2764918" border="0" alt="Promozione Babbel">
    </a>
</div>

<header>
    <a href="{{ site.baseurl }}/index.html" class="logo">Fluente</a>
    <nav>
        <ul>
            <li><a href="{{ site.baseurl }}/index.html">Home</a></li>
            <li><a href="{{ site.baseurl }}/inglese/index.html">Inglese</a></li>
            <li><a href="{{ site.baseurl }}/francese/index.html">Francese</a></li>
            <li><a href="{{ site.baseurl }}/spagnolo/index.html">Spagnolo</a></li>
            <li><a href="{{ site.baseurl }}/tedesco/index.html">Tedesco</a></li>
            <li><a href="{{ site.baseurl }}/portoghese/index.html">Portoghese</a></li>
            <li><a href="{{ site.baseurl }}/blog/index.html">Blog</a></li>
        </ul>
    </nav>
</header>
